*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
}
.link {
  text-decoration: none;
  color: #fff;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.page-header {
  height: 100vh;
  background: transparent;
}
.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 55px 40px 0 40px;
}
.navigation {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: .5s;
}
.navigation .btn-nav-close {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('../img/close.svg') no-repeat center;
  cursor: pointer;
}
.navigation .btn-nav-close:hover {
  background-image: url('../img/close-hover.svg');
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 324px;
  height: 100%;
  background: #000;
  padding-top: 100px;
  position: relative;
  top: 0;
  left: 0;
}
.navigation-item {
  background-color: #000;
  padding: 0 30px;
  margin: 2px 0;
}
.navigation-link {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px 5px 0;
  cursor: pointer;
  color: #fff;
  font-family: Ubuntu, sans-serif;
  letter-spacing: 1px;
  min-height: 38px;
}
.navigation-link:hover {
  color: #b8a17f;
}
.hamburger {
  width: 189px;
  padding-right: 139px;
  height: 50px;
  padding: 9px 0 0 9px;
  cursor: pointer;
  position: relative;
}
.hamburger::after {
  content: "Меню";
  display: block;
  position: absolute;
  top: 12px;
  left: 50px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.hamburger-item {
  display: block;
  min-height: 6px;
  margin-top: 4px;
  width: 32px;
  background-color: #ffee00;
}
.hamburger:hover .hamburger-item:first-child {
  position: relative;
  top: -3px;
}
.hamburger:hover .hamburger-item:last-child {
  position: relative;
  bottom: -3px;
}
.contacts-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.contacts-block .link-phone {
  font-size: 22px;
  text-align: right;
  margin-bottom: 10px;
}
.btn-text {
  text-align: center;
  text-decoration: none;
  color: #ffee00;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  padding: 8px;
  font-weight: 500;
  border: none;
  border-top: 2px solid #ffee00;
  border-bottom: 2px solid #ffee00;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: .25s;
}
.btn-text:hover {
  background: #ffee00;
  color: #fff;
}
.title-header {
  font-size: 36pt;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.btn-more {
  display: block;
  width: 150px;
  margin: 0 auto;
}
.mouse {
  position: relative;
  bottom: -40px;
  margin: 0 auto;
  left: 0;
  width: 31px;
  height: 48px;
  border: 2px solid #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.mouse-dot {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  left: 11px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffee00;
}
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  z-index: -1;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
